<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>   
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TZForecastInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TZForecastInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="TZForecastInterface.Properties.Settings.ERPConnStr"
      connectionString="Data Source=tz-akl-edb1;Initial Catalog=ERP10;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TZForecastInterface.Properties.Settings.CustomAppsConnStr"
      connectionString="Data Source=tz-akl-srs1;Initial Catalog=CustomApps;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="FcstAppender"/>
    </root>
    <appender name="FcstAppender" type="log4net.Appender.FileAppender">
      <file value="application.log"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline"/>
      </layout>
     </appender>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <TZForecastInterface.Properties.Settings>
            <setting name="OutputFolder" serializeAs="String">
                <value>\\tz-akl-srs1\TZForecastInterface\Output</value>
            </setting>
            <setting name="DEBUG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InputFolder" serializeAs="String">
                <value>\\tz-akl-smf1\OutputFiles</value>
            </setting>
        </TZForecastInterface.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <TZForecastInterface.Properties.Settings>
            <setting name="LogFolder" serializeAs="String">
                <value>c:\temp\TZForecastInterface.log</value>
            </setting>
        </TZForecastInterface.Properties.Settings>
    </applicationSettings>
</configuration>
